@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #282e38;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
header{
    background-color: #1C2026;
    margin-bottom: 10px;
    & h1{
        color: #BF863F;
        text-align: center;
        padding: 10px;
    }
    & p{
        color: #BF863F;
        text-align: center;
        padding: 10px;
        font-size: 1.2em;
    }
}
span#burger{
    background-color: #D9A443;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
span#burger:hover{
    background-color: #BF863F;
    color: #D9A443;
    cursor: pointer;
}

menu {
    display: none;
    & ul{
        list-style-type: none;
    }
    & a{
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: #BF863F;
        color: white;
        text-align: center;
        border-top: 2px solid #735C48;
        font-weight: bolder;
    }
    & a:hover{
        background-color: #8C6B42;
        color: #1C2026;
    }
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

    & article{
        & h2{
            padding-bottom: 20px;
            background-color: #D9A443;
            border-radius: 10px;
            width: 330px;
            padding: 10px;
            margin-bottom: 10px;
        }
        & p{
            text-align: justify;
            margin-bottom: 10px;
            text-indent: 20px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}
footer{
    & p{
        background-color: black;
        color: white;
        font-weight: bolder;
        text-align: center;
        padding: 10px;

    }
    & a{
        text-decoration: none;
        color: white;
    }
    & a:hover{
        color: #BF863F;
    }
}